.card-container {
    margin-left: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  display: inline-block;
  padding: 1.5rem;
  background-color: rgb(240, 240, 240);
  margin-top: 5%;
  margin-bottom: 1%;
  
  
}

.titulo-card {
    font-family: "Josefin Sans", sans-serif;
    font-size: 19px;
    margin: 0;
    padding-top: 10px;
    color: black;
    flex: 1;
    margin-right: 10px;
    overflow-wrap: break-word;
    width: 280px; 
}

.img-dog {
    height: 200px;
    width: 280px;
    margin: 9px;
    padding-top: 3px;
}

.temperamento-card {
    font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: rgb(92, 92, 92);
  overflow-wrap: break-word;
  margin-top: 5px;
  height: 200px;
  width: 280px;
  margin-bottom: -20%;
  
}
.dog-name{
    font-size: 25px;
    color: rgb(92, 92, 92);
    overflow-wrap: break-word;
    margin-top: 5px;
    height: 200px;
    width: 280px;
    margin-bottom: -50%;
   
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}
.text{
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 280px; 

}
.dog-weight{
    font-size: 15px;
}