.pagination-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0C969E;
  padding: 1px;
  box-shadow: 0px -3px 10px rgba(11, 11, 11, 0.1); /* Agregar sombra si se desea */
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10;
    margin: 10px 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    text-decoration: none;
    padding: 5px 10px;
    color: #ffffff;
    border: 1px solid #fdfdfd;
    background-color: #8a8282;
    border-radius: 5px;
  }
  
  
  .page-link:hover {
    background-color: #1CEDAE;
  }
  
  .page-link:focus {
    background-color: #1CEDAE;
    outline: none;
    box-shadow: 0 0 0 4px #d30bed;
  }
  