.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
  align-items: center;
  height: 10vh;
}
.nombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 3rem;
  margin-top: 5%;
  color: #ffffff;
}

.agregar {
  width: 300px;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
  background-color: #c4c1a753;
  display: block;
  padding: 5%;
  margin-bottom: 5px;
  font-size: 1.5rem;
  text-align: center;
}

.input {
  width: 80%;
  background: #ffffffab;
  border-radius: 10px;
  height: 35px;
  line-height: 35px;
  padding: 0 30px;
  padding: 0 40px;
  transition: 0.3s ease all;
  border: 3px solid transparent;
  text-align: center;
}

.input:focus {
  border: 3px solid #0fc496;
  outline: none;
  box-shadow: 3px 0px 30px rgba(249, 249, 249, 0.984);
}

.boton {
  background-color: #1c02dc;
  color: #ffffff;
  border: none;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
  padding: 10px;
}
.boton:hover {
  background-color: #00a4b3;
}

.error {
  color: #f30018;
  font-size: 20px;
  margin-top: 16px;
}
