.container-temperamento {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.20rem;
  background-image: url("../../assets/img/pngwing.com.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}
.formulario-registro {
  flex-direction: column;
  padding: 50px;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
  background-color: #c4c1a7d4;
  border-radius: 10px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caracteristicas {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.success-message {
  text-align: center;
  color: #05fa15;
  font-weight: bold;
  font-size: 25px;
  margin-top: 1px;
}
.input-de-busqueda {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  border: 3px solid #ccc;
  border-color: #0fc496;
  align-items: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.titulo {
  font-size: 2.5rem;
  margin-top: 10px;
}
.boton-perro {
  background-color: #1c02dc;
  color: #ffffff;
  padding: 12px 50px;
  border: none;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
}

.boton-perro:hover {
  background-color: #0fc496;
}
.botones-container {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
